@font-face {
  font-family: "Source Code Pro", monospace;
  font-stretch: 100%;
  font-style: NORMAL;
  font-weight: 200;
  src: url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap")
    format("variable");
}
body {
  width: 100%;
  margin: 0;
  background-color: #b4c3db;
}
#app {
  font: 1vw Source Code Pro;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#map {
  padding: 1%;
}
#nation,
.county,
.state {
  fill: none;
  stroke: black;
  stroke-width: 0.25;
}
#legend {
  font-size: 0.8vh;
}
#tooltip {
  stroke: #92abd4;
  fill: #92abd4;
}
.tooltipText {
  font: 0.75vw Source Code Pro;
}
